*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
  }
  
  section{
    padding: 60px, 0;
    overflow: hidden;
  }

  #left-navigation{
    height: 722px;
    width: 20%;
    position: relative;
    display: inline-block;
    border-right: 2px solid;
    background-color: rgba(79, 157, 218, 0.25);
  }

  .pharmacy-name{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 250px;
    padding: 10px;
    margin: 15px;
    margin-top: 30px;
  }

  .dashboard-button{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 45px;
    margin-left: 15px;
  }

  .manage-staffs{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .manage-users{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .manage-products{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .admin-profile{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .logout{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: rgba(79, 157, 218, 0.25);
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .nav-buttons{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: none;
  }

  .button-links{
    text-decoration: none;
    color: #000000;
  }

  .button-links:hover{
    text-decoration: none;
    color: #4d5df3;
  }

  .button-links:active{
    color: #000000;
  }
